@import url(https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap);
@import url(https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.2.0/css/all.min.css);

:root .shadcn-ui {
    --code: 240 6% 10%;
    --ease: cubic-bezier(.32, .72, 0, 1);
    --spacing: 0.25rem;
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 357 100% 45%;
    --destructive-foreground: 0 0% 100%;
    --destructive-alpha: 60%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --focus-ring: 1px solid hsl(var(--primary));
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-ring: 240 4.9% 83.9%;
    --sidebar-width: 16rem;
    --radius: 0.5rem;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-space-y-reverse: 0;
    --tw-border-opacity: 1;
    --tw-text-opacity: 1;
    --tw-space-x-reverse: 0;
    --tooltip-offset: 8px;
    --bs-primary: hsl(var(--primary));
    --bs-primary-rgb: rgb(--bs-primary);
    --bs-secondary: hsl(var(--secondary));
    --bs-secondary-rgb: rgb(--bs-secondary);
    --bs-danger: hsl(var(--destructive));
    --bs-danger-rgb: rgb(--bs-danger);
    --bs-blue: hsl(217.2 91.2% 59.8%);
    --bs-indigo: hsl(238.7 83.5% 66.7%);
    --bs-purple: hsl(270.7 91% 65.1%);
    --bs-pink: hsl(330.4 81.2% 60.4%);
    --bs-red: hsl(0 84.2% 60.2%);
    --bs-orange: hsl(24.6 95% 53.1%);
    --bs-yellow: hsl(45.4 93.4% 47.5%);
    --bs-green: hsl(142.1 70.6% 45.3%);
    --bs-teal: hsl(173.4 80.4% 40%);
    --bs-cyan: hsl(188.7 94.5% 42.7%);
    --bs-black: hsl(0 0% 3.9%);
    --bs-white: hsl(0 0% 98%);
    --bs-gray: hsl(220 8.9% 46.1%);
    --bs-gray-dark: hsl(224 71.4% 4.1%);
    --bs-gray-100: hsl(220 14.3% 95.9%);
    --bs-gray-200: hsl(220 13% 91%);
    --bs-gray-300: hsl(216 12.2% 83.9%);
    --bs-gray-400: hsl(217.9 10.6% 64.9%);
    --bs-gray-500: var(--bs-gray-500);
    --bs-gray-600: hsl(215 13.8% 34.1%);
    --bs-gray-700: hsl(216.9 19.1% 26.7%);
    --bs-gray-800: hsl(215 27.9% 16.9%);
    --bs-gray-900: hsl(220.9 39.3% 11%);
    --bs-success: var(--bs-green);
    --bs-info: var(--bs-cyan);
    --bs-warning: var(--bs-orange);
    --bs-light: var(--bs-white);
    --bs-dark: var(--bs-black);
    --text-sm: .875rem;
    --text-sm--line-height: calc(1.25 / .875);
    --tracking-tight: -.025em;
    --blue-badge-foreground: var(--foreground);
    --color-scheme: dark
}

@media (prefers-color-scheme:light) {
    :root .shadcn-ui {
        --code: 0 0.24% 96.06%;
        --background: 0 0% 100%;
        --foreground: 0 0.02% 3.94%;
        --card: 0 0% 100%;
        --card-foreground: 0 0.02% 3.94%;
        --muted: 0 0.24% 96.06%;
        --muted-foreground: 0 0.01% 45.16%;
        --primary: 0 0.02% 9.06%;
        --primary-foreground: 0 0.5% 98.03%;
        --secondary: 0 0.24% 96.06%;
        --secondary-foreground: 0 0.02% 9.06%;
        --tw-shadow: 0 1px 2px 0 var(--tw-shadow-color, rgb(0 0 0 / 0.05));
        --border: 0 0.09% 89.82%;
        --input: 0 0.09% 89.82%;
        --destructive: 351.72 100% 40.53%;
        --accent: 0 0.24% 96.06%;
        --accent-foreground: 0 0.02% 9.06%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0.02% 3.94%;
        --sidebar-background: 0 0.5% 98.03%;
        --sidebar-foreground: 0 0.02% 3.94%;
        --sidebar-accent: 0 0.24% 96.06%;
        --sidebar-accent-foreground: 0 0.02% 9.06%;
        --sidebar-ring: 0 0% 41.09%;
        --destructive-alpha: 90%;
        --blue-badge-foreground: var(--background);
        --color-scheme: light
    }
}

html[data-theme=light] .shadcn-ui, .shadcn-ui[data-theme=light] {
    --code: 0 0.24% 96.06%;
    --background: 0 0% 100%;
    --foreground: 0 0.02% 3.94%;
    --card: 0 0% 100%;
    --card-foreground: 0 0.02% 3.94%;
    --muted: 0 0.24% 96.06%;
    --muted-foreground: 0 0.01% 45.16%;
    --primary: 0 0.02% 9.06%;
    --primary-foreground: 0 0.5% 98.03%;
    --secondary: 0 0.24% 96.06%;
    --secondary-foreground: 0 0.02% 9.06%;
    --tw-shadow: 0 1px 2px 0 var(--tw-shadow-color, rgb(0 0 0 / 0.05));
    --border: 0 0.09% 89.82%;
    --input: 0 0.09% 89.82%;
    --destructive: 351.72 100% 40.53%;
    --accent: 0 0.24% 96.06%;
    --accent-foreground: 0 0.02% 9.06%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0.02% 3.94%;
    --sidebar-background: 0 0.5% 98.03%;
    --sidebar-foreground: 0 0.02% 3.94%;
    --sidebar-accent: 0 0.24% 96.06%;
    --sidebar-accent-foreground: 0 0.02% 9.06%;
    --sidebar-ring: 0 0% 41.09%;
    --destructive-alpha: 90%;
    --blue-badge-foreground: var(--background);
    --color-scheme: light
}


.shadcn-ui *,
.shadcn-ui :after,
.shadcn-ui :before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  color-scheme: var(--color-scheme);
}
.shadcn-ui * {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--border)) transparent;
  border-color: hsl(var(--border));
}
.shadcn-ui body,
.shadcn-ui html {
  padding: 0;
  margin: 0;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-synthesis-weight: none;
  text-rendering: optimizeLegibility;
  font-family: Geist, sans-serif;
}
.shadcn-ui button,
.shadcn-ui select {
  text-transform: none;
}
.shadcn-ui a,
.shadcn-ui button,
.shadcn-ui input,
.shadcn-ui optgroup,
.shadcn-ui select,
.shadcn-ui textarea {
  background: 0 0;
  appearance: none;
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  outline: 0;
}
.shadcn-ui a:focus-visible,
.shadcn-ui button:focus-visible,
.shadcn-ui input:focus-visible,
.shadcn-ui optgroup:focus-visible,
.shadcn-ui select:focus-visible,
.shadcn-ui textarea:focus-visible {
  outline: var(--focus-ring);
}
.shadcn-ui .btn {
  color: hsl(var(--primary-foreground));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: hsl(var(--primary));
  border-radius: calc(var(--radius) - 2px);
  white-space: nowrap;
  display: inline-flex;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  text-decoration: none;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-image: none;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: var(--ease);
  transition-duration: 0.15s;
  height: 2.25rem;
}
.shadcn-ui .btn.disabled,
.shadcn-ui .btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.shadcn-ui .btn.active,
.shadcn-ui .btn:hover {
  background-color: hsl(var(--primary)/0.9);
}
.shadcn-ui .btn.btn-muted,
.shadcn-ui .btn.btn-secondary {
  background-color: hsl(var(--secondary));
  color: hsl(var(--secondary-foreground));
}
.shadcn-ui .btn.btn-muted.active,
.shadcn-ui .btn.btn-muted:hover,
.shadcn-ui .btn.btn-secondary.active,
.shadcn-ui .btn.btn-secondary:hover {
  background-color: hsl(var(--secondary)/0.8);
}
.shadcn-ui .btn.btn-danger,
.shadcn-ui .btn.btn-destructive {
  background-color: hsl(var(--destructive)/var(--destructive-alpha, 1));
  color: hsl(var(--destructive-foreground));
}
.shadcn-ui .btn.btn-danger.active,
.shadcn-ui .btn.btn-danger:hover,
.shadcn-ui .btn.btn-destructive.active,
.shadcn-ui .btn.btn-destructive:hover {
  background-color: hsl(var(--destructive)/calc(var(--destructive-alpha, 1) * 0.9));
}
.shadcn-ui .btn.btn-outline {
  background-color: transparent;
  border-color: hsl(var(--input));
  border-width: 1px;
  color: hsl(var(--foreground));
}
.shadcn-ui .btn.btn-outline.active,
.shadcn-ui .btn.btn-outline:hover {
  background-color: hsl(var(--accent));
  color: hsl(var(--accent-foreground));
}
.shadcn-ui .btn.btn-ghost {
  background-color: transparent;
  box-shadow: none;
  color: hsl(var(--foreground));
}
.shadcn-ui .btn.btn-ghost.active,
.shadcn-ui .btn.btn-ghost:hover {
  background-color: hsl(var(--accent));
  color: hsl(var(--accent-foreground));
}
.shadcn-ui .btn.btn-link {
  background-color: transparent;
  box-shadow: none;
  text-underline-offset: 4px;
  color: hsl(var(--foreground));
}
.shadcn-ui .btn.btn-link.active,
.shadcn-ui .btn.btn-link:hover {
  text-decoration: underline;
}
.shadcn-ui .btn.btn-full {
  width: 100%;
  justify-content: flex-start;
}
.shadcn-ui .card {
  padding: 1.25rem;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
  color: hsl(var(--card-foreground));
  background-color: hsl(var(--card));
  border-width: 1px;
  border-radius: calc(var(--radius) + 4px);
}
.shadcn-ui .card.card-sm {
  max-width: 400px;
}
.shadcn-ui .card.card-md {
  max-width: 600px;
}
.shadcn-ui .card.card-lg {
  max-width: 700px;
}
.shadcn-ui .card.card-xl {
  max-width: 1200px;
}
.shadcn-ui .text-primary {
  color: hsl(var(--foreground)) !important;
}
.shadcn-ui .text-muted,
.shadcn-ui .text-secondary {
  color: hsl(var(--muted-foreground)) !important;
}
.shadcn-ui .text-danger,
.shadcn-ui .text-destructive {
  color: hsl(var(--destructive)) !important;
}
.shadcn-ui .text-success {
  color: var(--bs-success) !important;
}
.shadcn-ui .text-warning {
  color: var(--bs-warning) !important;
}
.shadcn-ui p {
  margin-top: calc(0.375rem * (1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.375rem * var(--tw-space-y-reverse));
  font-size: 0.875rem;
  line-height: calc(var(--spacing) * 6);
}
.shadcn-ui .text-lead {
  color: hsl(var(--muted-foreground));
  font-size: 1.25rem;
  line-height: 1.4;
}
.shadcn-ui a {
  color: inherit;
}
.shadcn-ui h1,
.shadcn-ui h2,
.shadcn-ui h3,
.shadcn-ui h4,
.shadcn-ui h5 {
  margin-top: 1.1rem;
  margin-bottom: 1.1rem;
}
.shadcn-ui h1 {
  text-wrap: balance;
  letter-spacing: var(--tracking-tight);
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 1.1111111111;
}
.shadcn-ui h2 {
  letter-spacing: var(--tracking-tight);
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 1.2;
  padding-bottom: calc(var(--spacing) * 2);
  border-bottom-width: 1px;
}
.shadcn-ui h3 {
  letter-spacing: var(--tracking-tight);
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.3333333333;
}
.shadcn-ui h4 {
  letter-spacing: var(--tracking-tight);
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.4;
}
.shadcn-ui blockquote {
  margin: 0;
  font-size: 0.875rem;
  font-style: italic;
  padding-left: calc(var(--spacing) * 6);
  border-left-width: 2px;
  margin-top: calc(var(--spacing) * 6);
  color: hsl(var(--muted-foreground));
}
.shadcn-ui ol,
.shadcn-ui ul {
  margin: 0;
  list-style-type: disc;
  margin-left: calc(var(--spacing) * 6);
  margin-block: calc(var(--spacing) * 6);
  padding: 0;
  font-size: 0.875rem;
}
.shadcn-ui ol li,
.shadcn-ui ul li {
  margin: 0;
  padding: 0;
  margin-top: calc(var(--spacing) * 2);
}
.shadcn-ui ol {
  list-style-type: decimal;
}
.shadcn-ui pre {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.4285714286;
  font-family: "Geist Mono", monospace;
  padding-block: 0.2rem;
  padding-inline: 0.3rem;
  background-color: hsl(var(--muted));
  border-radius: 0.25rem;
  display: inline-block;
}
.shadcn-ui .form label {
  display: block;
  font-weight: 500;
}
.shadcn-ui .form input:not([type=checkbox], [type=radio], [type=range]),
.shadcn-ui .form select,
.shadcn-ui .form textarea {
  height: 2.25rem;
  margin-top: calc(0.375rem * (1 - var(--tw-space-y-reverse)));
  margin-bottom: 1rem;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: var(--ease);
  transition-duration: 0.15s;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background-color: transparent;
  border-color: hsl(var(--input));
  border-width: 1px;
  border-radius: calc(var(--radius) - 2px);
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.shadcn-ui .form input:not([type=checkbox], [type=radio], [type=range])::placeholder,
.shadcn-ui .form select::placeholder,
.shadcn-ui .form textarea::placeholder {
  font-weight: 500;
  color: hsl(var(--muted-foreground));
}
.shadcn-ui .form input:not([type=checkbox], [type=radio], [type=range]).disabled,
.shadcn-ui .form input:not([type=checkbox], [type=radio], [type=range]):disabled,
.shadcn-ui .form select.disabled,
.shadcn-ui .form select:disabled,
.shadcn-ui .form textarea.disabled,
.shadcn-ui .form textarea:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.shadcn-ui .form input:not([type=checkbox], [type=radio], [type=range])[type=file],
.shadcn-ui .form select[type=file],
.shadcn-ui .form textarea[type=file] {
  cursor: pointer;
}
.shadcn-ui .form input:not([type=checkbox], [type=radio], [type=range])[type=file]::file-selector-button,
.shadcn-ui .form select[type=file]::file-selector-button,
.shadcn-ui .form textarea[type=file]::file-selector-button {
  background: 0 0;
  color: hsl(var(--foreground));
  appearance: none;
  border: none;
  padding: 0.25rem;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
}
.shadcn-ui .form input:not([type=checkbox], [type=radio], [type=range])[type=date]::-webkit-calendar-picker-indicator,
.shadcn-ui .form select[type=date]::-webkit-calendar-picker-indicator,
.shadcn-ui .form textarea[type=date]::-webkit-calendar-picker-indicator {
  color: hsl(var(--foreground));
  cursor: pointer;
}
.shadcn-ui .form .form-description {
  color: hsl(var(--muted-foreground));
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
  display: block;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}
.shadcn-ui .form textarea {
  height: auto;
  min-height: 2.25rem;
  resize: vertical;
}
.shadcn-ui .form .select {
  position: relative;
}
.shadcn-ui .form .select:after {
  content: "\f078";
  font-family: "Font Awesome 7 Free";
  font-weight: 700;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  color: hsl(var(--muted-foreground));
  pointer-events: none;
}
.shadcn-ui .form .select select {
  padding-right: 2.2rem;
}
.shadcn-ui .form select {
  cursor: pointer;
}
.shadcn-ui .form select option {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}
.shadcn-ui .form .checkbox,
.shadcn-ui .form .radio,
.shadcn-ui .form .switch {
  margin-top: calc(0.375rem * (1 - var(--tw-space-y-reverse)));
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
}
.shadcn-ui .form .checkbox input.disabled + label,
.shadcn-ui .form .checkbox input:disabled + label,
.shadcn-ui .form .radio input.disabled + label,
.shadcn-ui .form .radio input:disabled + label,
.shadcn-ui .form .switch input.disabled + label,
.shadcn-ui .form .switch input:disabled + label {
  opacity: 0.7;
  cursor: not-allowed;
}
.shadcn-ui .form .checkbox label,
.shadcn-ui .form .radio label,
.shadcn-ui .form .switch label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  cursor: pointer;
}
.shadcn-ui .form .switch input[type=checkbox] {
  background-color: hsl(var(--input));
  border-radius: 9999px;
  width: 2.25rem;
  height: 1.25rem;
  border: none;
  position: relative;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: var(--ease);
  transition-duration: 0.15s;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
  flex-shrink: 0;
  cursor: pointer;
}
.shadcn-ui .form .switch input[type=checkbox].disabled,
.shadcn-ui .form .switch input[type=checkbox]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.shadcn-ui .form .switch input[type=checkbox]:after {
  transition-property: transform;
  transition-timing-function: var(--ease);
  transition-duration: 0.15s;
  content: "\f111";
  font-family: "Font Awesome 7 Free";
  font-weight: 700;
  position: absolute;
  font-size: 1rem;
  top: 50%;
  transform: translateY(-50%) translateX(3px);
  color: hsl(var(--background));
}
.shadcn-ui .form .switch input[type=checkbox]:checked {
  background-color: hsl(var(--primary));
}
.shadcn-ui .form .switch input[type=checkbox]:checked:after {
  transform: translateY(-50%) translateX(1.1rem);
}
.shadcn-ui .form .checkbox input[type=checkbox],
.shadcn-ui .form .radio input[type=radio] {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
  border-color: hsl(var(--primary));
  border-width: 1px;
  border-radius: calc(var(--radius) - 4px);
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  background: 0 0;
  position: relative;
}
.shadcn-ui .form .checkbox input[type=checkbox].disabled,
.shadcn-ui .form .checkbox input[type=checkbox]:disabled,
.shadcn-ui .form .radio input[type=radio].disabled,
.shadcn-ui .form .radio input[type=radio]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.shadcn-ui .form .checkbox input[type=checkbox][type=checkbox]:checked,
.shadcn-ui .form .radio input[type=radio][type=checkbox]:checked {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(var(--primary));
}
.shadcn-ui .form .checkbox input[type=checkbox][type=checkbox]:checked:after,
.shadcn-ui .form .radio input[type=radio][type=checkbox]:checked:after {
  content: "\f00c";
  font-family: "Font Awesome 7 Free";
  font-weight: 700;
  color: hsl(var(--background));
  font-size: 0.6rem;
}
.shadcn-ui .form .checkbox input[type=checkbox][type=radio],
.shadcn-ui .form .radio input[type=radio][type=radio] {
  border-radius: 100%;
}
.shadcn-ui .form .checkbox input[type=checkbox][type=radio]:checked,
.shadcn-ui .form .radio input[type=radio][type=radio]:checked {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.shadcn-ui .form .checkbox input[type=checkbox][type=radio]:checked:after,
.shadcn-ui .form .radio input[type=radio][type=radio]:checked:after {
  content: "\f111";
  font-family: "Font Awesome 7 Free";
  font-weight: 700;
  color: hsl(var(--primary));
  font-size: 0.5rem;
}
.shadcn-ui .form input[type=range] {
  --slider-value: 50%;
  width: 100%;
  background: linear-gradient(to right, hsl(var(--primary)) var(--slider-value), hsl(var(--muted)) var(--slider-value));
  height: 8px;
  border-radius: 4px;
}
.shadcn-ui .form input[type=range]::-webkit-slider-thumb {
  position: relative;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  background-color: hsl(var(--background));
  border-radius: 50%;
  border: 1px solid hsl(var(--foreground));
  cursor: pointer;
  appearance: none;
}
.shadcn-ui .flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.shadcn-ui .flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.shadcn-ui .flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}
.shadcn-ui .screen-centered {
  min-height: 100dvh;
  width: 100dvw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
}
.shadcn-ui .hide {
  display: none !important;
}
.shadcn-ui .no-scroll {
  overflow-y: hidden !important;
}
.shadcn-ui .alert {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: transparent;
  border-width: 1px;
  border-radius: var(--radius);
  display: flex;
  gap: 1rem;
}
.shadcn-ui .alert .alert-icon {
  margin-top: calc(0.375rem * (1 - var(--tw-space-y-reverse)));
  font-size: 1.1rem;
}
.shadcn-ui .alert.alert-danger,
.shadcn-ui .alert.alert-destructive {
  border-color: hsl(var(--destructive)/var(--tw-border-opacity));
  color: hsl(var(--destructive)/var(--tw-text-opacity));
}
.shadcn-ui .alert.alert-danger .text-secondary,
.shadcn-ui .alert.alert-destructive .text-secondary {
  color: hsl(var(--destructive)/var(--tw-text-opacity)) !important;
}
.shadcn-ui .table-responsive {
  overflow-x: auto;
}
.shadcn-ui .table {
  border-collapse: collapse;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 100%;
}
.shadcn-ui .table td,
.shadcn-ui .table th {
  text-align: left;
  font-weight: 500;
  vertical-align: middle;
  padding: 0.5rem;
}
.shadcn-ui .table tr {
  border-bottom-width: 1px;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: var(--ease);
  transition-duration: 0.15s;
}
.shadcn-ui .table tr:hover {
  background-color: hsl(var(--muted)/0.5);
}
.shadcn-ui .table tfoot {
  background-color: hsl(var(--muted)/0.5);
  border-top-width: 1px;
}
.shadcn-ui .table thead {
  border-bottom-width: 1px;
}
.shadcn-ui .table thead th {
  color: hsl(var(--muted-foreground));
}
.shadcn-ui .dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out;
  padding: 1rem;
}
.shadcn-ui .dialog.show {
  opacity: 1;
  pointer-events: all;
}
.shadcn-ui .dialog.show .dialog-backdrop {
  opacity: 1;
}
.shadcn-ui .dialog.show .dialog-content {
  opacity: 1;
  transform: translateY(0) scale(1);
}
.shadcn-ui .dialog .dialog-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.25s ease-in-out;
}
.shadcn-ui .dialog.dialog-alert .dialog-backdrop {
  pointer-events: none;
}
.shadcn-ui .dialog .dialog-content {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
  padding: 1.5rem;
  max-height: 100%;
  overflow-y: auto;
  background-color: hsl(var(--background));
  border-width: 1px;
  z-index: 51;
  border-radius: var(--radius);
  width: 100%;
  max-width: 500px;
  transform: translateY(10px) scale(0.95);
  opacity: 0;
  transition: transform 0.25s ease-out, opacity 0.25s ease-out;
}
.shadcn-ui .dialog.dialog-lg .dialog-content {
  max-width: 1200px;
}
.shadcn-ui .accordion .accordion-item {
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: hsl(var(--foreground));
  border-bottom-width: 1px;
}
.shadcn-ui .accordion .accordion-item .accordion-toggle {
  font-weight: 500;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  text-decoration: none;
  color: hsl(var(--foreground));
}
.shadcn-ui .accordion .accordion-item .accordion-toggle:after {
  content: "\f078";
  font-family: "Font Awesome 7 Free";
  font-weight: 700;
  transition-duration: 0.2s;
  transition-property: transform;
  transition-timing-function: var(--ease);
  color: hsl(var(--muted-foreground));
}
.shadcn-ui .accordion .accordion-item .accordion-toggle.open:after {
  transform: rotate(180deg);
}
.shadcn-ui .accordion .accordion-item .accordion-content {
  display: none;
}
.shadcn-ui .accordion .accordion-item .accordion-content.show {
  display: block;
  padding-top: 1rem;
}
.shadcn-ui .badge {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: var(--ease);
  transition-duration: 0.15s;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
  color: hsl(var(--primary-foreground));
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  border-color: transparent;
  background-color: hsl(var(--primary));
  display: inline-flex;
  border-radius: calc(var(--radius) - 2px);
  border-width: 1px;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.shadcn-ui .badge:hover {
  background-color: hsl(var(--primary)/0.9);
}
.shadcn-ui .badge.badge-muted,
.shadcn-ui .badge.badge-secondary {
  background-color: hsl(var(--secondary));
  color: hsl(var(--secondary-foreground));
}
.shadcn-ui .badge.badge-muted:hover,
.shadcn-ui .badge.badge-secondary:hover {
  background-color: hsl(var(--secondary)/0.8);
}
.shadcn-ui .badge.badge-danger,
.shadcn-ui .badge.badge-destructive {
  background-color: hsl(var(--destructive)/var(--destructive-alpha, 1));
  color: hsl(var(--destructive-foreground));
}
.shadcn-ui .badge.badge-danger:hover,
.shadcn-ui .badge.badge-destructive:hover {
  background-color: hsl(var(--destructive)/calc(var(--destructive-alpha, 1) * 0.9));
}
.shadcn-ui .badge.badge-success {
  background-color: var(--bs-success);
}
.shadcn-ui .badge.badge-success:hover {
  opacity: 0.9;
}
.shadcn-ui .badge.badge-warning {
  background-color: var(--bs-warning);
}
.shadcn-ui .badge.badge-warning:hover {
  opacity: 0.9;
}
.shadcn-ui .badge.badge-blue {
  transition: opacity 0.15s;
  background-color: var(--bs-blue);
  color: hsl(var(--blue-badge-foreground));
}
.shadcn-ui .badge.badge-blue:hover {
  opacity: 0.9;
}
.shadcn-ui .badge.badge-outline {
  background-color: transparent;
  border-color: hsl(var(--input));
  border-width: 1px;
  color: hsl(var(--foreground));
}
.shadcn-ui .badge.badge-outline:hover {
  background-color: hsl(var(--accent));
  color: hsl(var(--accent-foreground));
}
.shadcn-ui .breadcrumb {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  overflow-wrap: break-word;
  align-items: center;
}
.shadcn-ui .breadcrumb a {
  color: hsl(var(--muted-foreground));
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  gap: 0.375rem;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: var(--ease);
  transition-duration: 0.15s;
}
.shadcn-ui .breadcrumb a:after {
  content: "\f054";
  font-family: "Font Awesome 7 Free";
  font-weight: 700;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  font-size: 0.625rem;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}
.shadcn-ui .breadcrumb a:last-of-type {
  color: hsl(var(--foreground));
  pointer-events: none;
}
.shadcn-ui .breadcrumb a:last-of-type:after {
  display: none;
}
.shadcn-ui .breadcrumb a:hover {
  color: hsl(var(--foreground));
}
.shadcn-ui .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  gap: 0.25rem;
  flex-wrap: wrap;
}
.shadcn-ui .pagination a {
  text-decoration: none;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: var(--ease);
  transition-duration: 0.15s;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  display: inline-flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: calc(var(--radius) - 2px);
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.675rem;
  height: 2.25rem;
  color: hsl(var(--foreground));
}
.shadcn-ui .pagination a.active {
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
  border-color: hsl(var(--input));
  border-width: 1px;
}
.shadcn-ui .pagination a:hover {
  color: hsl(var(--accent-foreground));
  background-color: hsl(var(--accent));
}
.shadcn-ui .sheet {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  z-index: 50;
  pointer-events: none;
}
.shadcn-ui .sheet .sheet-content {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
  padding: 1.5rem;
  background-color: hsl(var(--background));
  border-left-width: 1px;
  position: fixed;
  right: 0;
  z-index: 51;
  top: 0;
  height: 100%;
  transition: transform 0.4s ease-in;
  width: 100%;
  transform: translateX(100%);
  max-width: 500px;
  overflow-y: auto;
}
.shadcn-ui .sheet.sheet-lg .sheet-content {
  max-width: 900px;
}
.shadcn-ui .sheet .sheet-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.25s ease-in;
}
.shadcn-ui .sheet .sheet-backdrop.show {
  opacity: 1;
}
.shadcn-ui .sheet.show {
  pointer-events: all;
}
.shadcn-ui .sheet.show .sheet-content {
  transform: translateX(0);
}
.shadcn-ui .tabs .tab-trigger {
  display: flex;
  color: hsl(var(--muted-foreground));
  padding: 0.25rem;
  background-color: hsl(var(--muted));
  border-radius: var(--radius);
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.shadcn-ui .tabs .tab-trigger button {
  --tw-ring-offset-color: hsl(var(--background));
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: calc(var(--radius) - 2px);
  white-space: nowrap;
  display: inline-flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: var(--ease);
  transition-duration: 0.15s;
  flex: 1;
}
.shadcn-ui .tabs .tab-trigger button.active {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
  color: hsl(var(--foreground));
  background-color: hsl(var(--background));
}
.shadcn-ui .tabs .tab-content {
  display: none;
}
.shadcn-ui .tabs .tab-content.show {
  display: block;
}
.shadcn-ui .progress {
  background-color: hsl(var(--primary)/0.2);
  border-radius: 9999px;
  overflow: hidden;
  position: relative;
  height: 0.5rem;
  width: 100%;
}
.shadcn-ui .progress .progress-status {
  background-color: hsl(var(--primary));
  height: 100%;
  width: 100%;
}
.shadcn-ui hr.separator {
  background-color: hsl(var(--border));
  flex-shrink: 0;
  width: 100%;
  height: 1px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
  opacity: 1;
}
.shadcn-ui .separator-vertical {
  background-color: hsl(var(--border));
  flex-shrink: 0;
  border: none;
  opacity: 1;
  width: 1px;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * (1 - var(--tw-space-x-reverse)));
}
@keyframes dropdown-slide-down {
  from {
    opacity: 0;
    transform: translateY(-0.5rem) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
@keyframes dropdown-slide-up {
  from {
    opacity: 0;
    transform: translateY(0.5rem) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.shadcn-ui .dropdown {
  position: relative;
}
.shadcn-ui .dropdown:has(.dropdown-menu.show) {
  z-index: 1;
}
.shadcn-ui .dropdown .dropdown-menu {
  position: fixed;
  margin: 0;
  display: none;
  background-color: hsl(var(--popover));
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
  border-width: 1px;
  color: hsl(var(--popover-foreground));
  border-radius: calc(var(--radius) - 2px);
  min-width: 8rem;
  width: 14rem;
  padding: 0.25rem;
  z-index: 50;
  transform-origin: top center;
  pointer-events: none;
  opacity: 0;
}
.shadcn-ui .dropdown .dropdown-menu.top {
  transform-origin: bottom center;
}
.shadcn-ui .dropdown .dropdown-menu.right {
  transform-origin: top right;
}
.shadcn-ui .dropdown .dropdown-menu.show {
  display: block;
  pointer-events: all;
  opacity: 1;
  animation: dropdown-slide-down 0.2s ease-out forwards;
}
.shadcn-ui .dropdown .dropdown-menu.show.top {
  animation: dropdown-slide-up 0.2s ease-out forwards;
}
.shadcn-ui .dropdown .dropdown-menu .dropdown-separator {
  margin-inline: calc(var(--spacing) * -1);
  margin-block: calc(var(--spacing) * 1);
  border-color: hsl(var(--border));
  height: 0;
  color: inherit;
  border-top-width: 1px;
  opacity: 1;
}
.shadcn-ui .dropdown .dropdown-menu a,
.shadcn-ui .dropdown .dropdown-menu button {
  display: flex;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.375rem 0.5rem;
  border-radius: calc(var(--radius) - 4px);
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.shadcn-ui .dropdown .dropdown-menu a:hover,
.shadcn-ui .dropdown .dropdown-menu button:hover {
  color: hsl(var(--accent-foreground));
  background-color: hsl(var(--accent));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: var(--ease);
  transition-duration: 0.15s;
}
.shadcn-ui .dropdown .dropdown-menu a.disabled,
.shadcn-ui .dropdown .dropdown-menu a:disabled,
.shadcn-ui .dropdown .dropdown-menu button.disabled,
.shadcn-ui .dropdown .dropdown-menu button:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.shadcn-ui .skeleton .skeleton-item {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  background-color: hsl(var(--primary)/0.1);
}
@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
.shadcn-ui .code {
  display: flex;
  align-items: flex-start;
  gap: 0.7rem;
  padding: 0.5rem;
  border-radius: calc(var(--radius) + 4px);
  background-color: hsl(var(--code));
  max-width: 100%;
}
.shadcn-ui .code .btn-copy {
  background-color: hsl(var(--code));
  color: var(--bs-gray-400);
  box-shadow: none;
  padding: 0.7rem;
}
.shadcn-ui .code .btn-copy:hover {
  background-color: hsl(var(--accent));
  color: hsl(var(--accent-foreground));
}
.shadcn-ui .code code {
  font-family: "Geist Mono", monospace;
  padding: 0.7rem;
  flex: 1;
  overflow-x: auto;
  scrollbar-width: none;
  color: inherit;
}
.shadcn-ui .code.single-line {
  align-items: center;
}
.shadcn-ui .code.single-line code {
  white-space: nowrap;
  text-wrap: nowrap;
}
.shadcn-ui .avatars {
  display: flex;
  flex-wrap: wrap;
}
.shadcn-ui .avatars .avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  margin-left: -15px;
  position: relative;
  overflow: hidden;
  border: 1px solid hsl(var(--background));
}
.shadcn-ui .avatars .avatar:first-child {
  margin-left: 0;
}
.shadcn-ui .avatars .avatar .avatar-fallback,
.shadcn-ui .avatars .avatar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.shadcn-ui .avatars .avatar .avatar-fallback {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(var(--muted));
  font-size: 1rem;
}
.shadcn-ui .avatars .avatar img {
  object-fit: cover;
  object-position: center;
  position: relative;
  z-index: 1;
}
.shadcn-ui [data-ss-tooltip] {
  position: relative;
  contain: layout;
}
.shadcn-ui [data-ss-tooltip]:has(.tooltip.show) {
  z-index: 1;
}
.shadcn-ui .tooltip {
  position: absolute;
  left: 50%;
  transform: scale(0.95) translateX(-50%);
  transform-origin: left;
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
  pointer-events: none;
  opacity: 0;
  transition: all 0.2s var(--ease);
  z-index: 50;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: calc(0.625rem - 2px);
  font-size: 0.75rem;
  padding: 3px 10px;
  max-width: 300px;
  width: max-content;
  text-wrap: wrap;
  text-align: left;
  font-family: Geist;
  font-weight: 500;
  user-select: none;
}
.shadcn-ui .tooltip.show {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}
.shadcn-ui .tooltip.tooltip-top,
.shadcn-ui .tooltip.tooltip-top-left,
.shadcn-ui .tooltip.tooltip-top-right {
  bottom: 100%;
  left: 50%;
  transform-origin: bottom center;
}
.shadcn-ui .tooltip.tooltip-top-left.show,
.shadcn-ui .tooltip.tooltip-top-right.show,
.shadcn-ui .tooltip.tooltip-top.show {
  bottom: calc(100% + var(--tooltip-offset));
}
.shadcn-ui .tooltip.tooltip-top-left.tooltip-top-left,
.shadcn-ui .tooltip.tooltip-top-right.tooltip-top-left,
.shadcn-ui .tooltip.tooltip-top.tooltip-top-left {
  left: 0;
  transform-origin: bottom left;
  transform: scale(0.95);
}
.shadcn-ui .tooltip.tooltip-top-left.tooltip-top-left.show,
.shadcn-ui .tooltip.tooltip-top-right.tooltip-top-left.show,
.shadcn-ui .tooltip.tooltip-top.tooltip-top-left.show {
  transform: scale(1);
}
.shadcn-ui .tooltip.tooltip-top-left.tooltip-top-right,
.shadcn-ui .tooltip.tooltip-top-right.tooltip-top-right,
.shadcn-ui .tooltip.tooltip-top.tooltip-top-right {
  left: auto;
  right: 0;
  transform-origin: bottom right;
  transform: scale(0.95);
}
.shadcn-ui .tooltip.tooltip-top-left.tooltip-top-right.show,
.shadcn-ui .tooltip.tooltip-top-right.tooltip-top-right.show,
.shadcn-ui .tooltip.tooltip-top.tooltip-top-right.show {
  transform: scale(1);
}
.shadcn-ui .tooltip.tooltip-bottom,
.shadcn-ui .tooltip.tooltip-bottom-left,
.shadcn-ui .tooltip.tooltip-bottom-right {
  top: 100%;
  left: 50%;
  transform-origin: top center;
}
.shadcn-ui .tooltip.tooltip-bottom-left.show,
.shadcn-ui .tooltip.tooltip-bottom-right.show,
.shadcn-ui .tooltip.tooltip-bottom.show {
  top: calc(100% + var(--tooltip-offset));
}
.shadcn-ui .tooltip.tooltip-bottom-left.tooltip-bottom-left,
.shadcn-ui .tooltip.tooltip-bottom-right.tooltip-bottom-left,
.shadcn-ui .tooltip.tooltip-bottom.tooltip-bottom-left {
  left: 0;
  transform-origin: top left;
  transform: scale(0.95);
}
.shadcn-ui .tooltip.tooltip-bottom-left.tooltip-bottom-left.show,
.shadcn-ui .tooltip.tooltip-bottom-right.tooltip-bottom-left.show,
.shadcn-ui .tooltip.tooltip-bottom.tooltip-bottom-left.show {
  transform: scale(1);
}
.shadcn-ui .tooltip.tooltip-bottom-left.tooltip-bottom-right,
.shadcn-ui .tooltip.tooltip-bottom-right.tooltip-bottom-right,
.shadcn-ui .tooltip.tooltip-bottom.tooltip-bottom-right {
  left: auto;
  right: 0;
  transform-origin: top right;
  transform: scale(0.95);
}
.shadcn-ui .tooltip.tooltip-bottom-left.tooltip-bottom-right.show,
.shadcn-ui .tooltip.tooltip-bottom-right.tooltip-bottom-right.show,
.shadcn-ui .tooltip.tooltip-bottom.tooltip-bottom-right.show {
  transform: scale(1);
}
.shadcn-ui .tooltip.tooltip-left,
.shadcn-ui .tooltip.tooltip-left-bottom,
.shadcn-ui .tooltip.tooltip-left-top {
  right: 100%;
  top: 50%;
  left: auto;
  transform: scale(0.95) translateY(-50%);
  transform-origin: right center;
}
.shadcn-ui .tooltip.tooltip-left-bottom.show,
.shadcn-ui .tooltip.tooltip-left-top.show,
.shadcn-ui .tooltip.tooltip-left.show {
  right: calc(100% + var(--tooltip-offset));
  transform: translateY(-50%) scale(1);
}
.shadcn-ui .tooltip.tooltip-left-bottom.tooltip-left-top,
.shadcn-ui .tooltip.tooltip-left-top.tooltip-left-top,
.shadcn-ui .tooltip.tooltip-left.tooltip-left-top {
  top: 0;
  transform: scale(0.95);
  transform-origin: right top;
}
.shadcn-ui .tooltip.tooltip-left-bottom.tooltip-left-top.show,
.shadcn-ui .tooltip.tooltip-left-top.tooltip-left-top.show,
.shadcn-ui .tooltip.tooltip-left.tooltip-left-top.show {
  transform: scale(1);
}
.shadcn-ui .tooltip.tooltip-left-bottom.tooltip-left-bottom,
.shadcn-ui .tooltip.tooltip-left-top.tooltip-left-bottom,
.shadcn-ui .tooltip.tooltip-left.tooltip-left-bottom {
  top: auto;
  bottom: 0;
  transform: scale(0.95);
  transform-origin: right bottom;
}
.shadcn-ui .tooltip.tooltip-left-bottom.tooltip-left-bottom.show,
.shadcn-ui .tooltip.tooltip-left-top.tooltip-left-bottom.show,
.shadcn-ui .tooltip.tooltip-left.tooltip-left-bottom.show {
  transform: scale(1);
}
.shadcn-ui .tooltip.tooltip-right,
.shadcn-ui .tooltip.tooltip-right-bottom,
.shadcn-ui .tooltip.tooltip-right-top {
  left: 100%;
  top: 50%;
  transform: scale(0.95) translateY(-50%);
  transform-origin: left center;
}
.shadcn-ui .tooltip.tooltip-right-bottom.show,
.shadcn-ui .tooltip.tooltip-right-top.show,
.shadcn-ui .tooltip.tooltip-right.show {
  left: calc(100% + var(--tooltip-offset));
  transform: translateY(-50%) scale(1);
}
.shadcn-ui .tooltip.tooltip-right-bottom.tooltip-right-top,
.shadcn-ui .tooltip.tooltip-right-top.tooltip-right-top,
.shadcn-ui .tooltip.tooltip-right.tooltip-right-top {
  top: 0;
  transform: scale(0.95);
  transform-origin: left top;
}
.shadcn-ui .tooltip.tooltip-right-bottom.tooltip-right-top.show,
.shadcn-ui .tooltip.tooltip-right-top.tooltip-right-top.show,
.shadcn-ui .tooltip.tooltip-right.tooltip-right-top.show {
  transform: scale(1);
}
.shadcn-ui .tooltip.tooltip-right-bottom.tooltip-right-bottom,
.shadcn-ui .tooltip.tooltip-right-top.tooltip-right-bottom,
.shadcn-ui .tooltip.tooltip-right.tooltip-right-bottom {
  top: auto;
  bottom: 0;
  transform: scale(0.95);
  transform-origin: left bottom;
}
.shadcn-ui .tooltip.tooltip-right-bottom.tooltip-right-bottom.show,
.shadcn-ui .tooltip.tooltip-right-top.tooltip-right-bottom.show,
.shadcn-ui .tooltip.tooltip-right.tooltip-right-bottom.show {
  transform: scale(1);
}
.shadcn-ui .drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  z-index: 50;
  pointer-events: none;
}
.shadcn-ui .drawer .drawer-content {
  padding: calc(var(--spacing) * 4);
  padding-top: 0;
  background-color: hsl(var(--background));
  position: fixed;
  will-change: transform;
  z-index: 51;
  bottom: 0;
  left: 0;
  width: 100%;
  user-select: none;
  border-top-width: 1px;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  max-height: 80dvh;
  align-items: center;
  justify-content: center;
  margin-top: calc(var(--spacing) * 24);
  display: flex;
  text-align: center;
  flex-flow: column;
  height: auto;
  transform: translateY(var(--drawer-transform, 100%)) translateY(var(--drag-translate, 0));
  transition: transform 0.5s var(--ease);
}
.shadcn-ui .drawer .drawer-content .drawer-handle {
  display: block;
  background-color: hsl(var(--muted));
  border-radius: 40px;
  flex-shrink: 0;
  height: 8px;
  margin-top: calc(var(--spacing) * 4);
  margin-inline: auto;
  width: 100px;
}
.shadcn-ui .drawer .drawer-content.dragging {
  transition: none !important;
}
.shadcn-ui .drawer .drawer-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.25s ease-in;
}
.shadcn-ui .drawer .drawer-backdrop.show {
  opacity: 1;
}
.shadcn-ui .drawer.show {
  pointer-events: all;
}
.shadcn-ui .drawer.show .drawer-content {
  --drawer-transform: 0 ;
}
.shadcn-ui .sidebar-wrapper {
  width: 100dvw;
  overflow-y: auto;
  height: 100dvh;
}
.shadcn-ui .sidebar-wrapper .sidebar-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.25s ease-in;
  z-index: 50;
  display: none;
  opacity: 0;
  pointer-events: none;
}
.shadcn-ui .sidebar-wrapper .sidebar-menu {
  position: fixed;
  display: flex;
  flex-flow: column;
  left: 0;
  top: 0;
  height: 100%;
  width: var(--sidebar-width);
  overflow: auto;
  background: hsl(var(--sidebar-background));
  border-right-width: 1px;
  transition: transform 0.3s var(--ease);
  padding: calc(var(--spacing) * 2);
  gap: 0.25rem;
  color: hsl(var(--sidebar-foreground));
  z-index: 51;
  transform: translateX(-100%);
}
.shadcn-ui .sidebar-wrapper .sidebar-menu .menu-content {
  display: flex;
  flex-flow: column;
  gap: 0.25rem;
  flex: 1;
  overflow: auto;
  width: 100%;
}
.shadcn-ui .sidebar-wrapper .sidebar-menu .group-label {
  font-size: 0.75rem;
  line-height: 1.3333333333;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 20px;
  font-weight: 500;
  color: hsl(var(--sidebar-ring));
}
.shadcn-ui .sidebar-wrapper .sidebar-menu .group-label:first-child {
  margin-top: 0;
}
.shadcn-ui .sidebar-wrapper .sidebar-menu .menu-footer,
.shadcn-ui .sidebar-wrapper .sidebar-menu .menu-header {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 2);
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: calc(var(--radius) - 2px);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: var(--ease);
  transition-duration: 0.15s;
  text-decoration: none;
  font-weight: 500;
}
.shadcn-ui .sidebar-wrapper .sidebar-menu .menu-footer:hover,
.shadcn-ui .sidebar-wrapper .sidebar-menu .menu-header:hover {
  background-color: hsl(var(--sidebar-accent));
  color: hsl(var(--sidebar-accent-foreground));
}
.shadcn-ui .sidebar-wrapper .sidebar-content {
  margin-left: 0;
  transition: margin 0.3s var(--ease);
}
.shadcn-ui .sidebar-wrapper .sidebar-content .sidebar-header {
  position: sticky;
  width: 100%;
  top: 0;
  border-bottom-width: 1px;
  padding: 0.75rem;
  background-color: hsl(var(--background));
}
.shadcn-ui .sidebar-wrapper.show .sidebar-menu {
  transform: translateX(0);
}
.shadcn-ui .sidebar-wrapper.show .sidebar-content {
  margin-left: var(--sidebar-width);
}
.shadcn-ui .sidebar-wrapper.show .sidebar-backdrop {
  opacity: 1;
  pointer-events: all;
}
.shadcn-ui .sidebar-wrapper.sidebar-right .sidebar-menu {
  left: auto;
  right: 0;
  border-right-width: 0;
  border-left-width: 1px;
  transform: translateX(100%);
}
.shadcn-ui .sidebar-wrapper.sidebar-right .sidebar-content {
  margin-left: 0;
  margin-right: 0;
}
.shadcn-ui .sidebar-wrapper.sidebar-right.show .sidebar-menu {
  transform: translateX(0);
}
.shadcn-ui .sidebar-wrapper.sidebar-right.show .sidebar-content {
  margin-right: var(--sidebar-width);
}
@media (max-width: 767px) {
  .shadcn-ui .sidebar-wrapper .sidebar-backdrop {
    display: block;
  }
  .shadcn-ui .sidebar-wrapper .sidebar-content {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

/*# sourceMappingURL=shadstrap_scoped.css.map */
